notes/
.vs/
Debug/
x64/
*.vcxproj*
*.sln

submit/

CMakeCache.txt
CMakeFiles/
*.cmake

*.exe
*.zip
hw4/*

*.aux
*.bbl
*.blg
*.idx
*.ind
*.lof
*.lot
*.out
*.toc
*.acn
*.acr
*.alg
*.glg
*.glo
*.gls
*.ist
*.fls
*.log
*.fdb_latexmk
*.gz
